@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  width: 90%;
  margin: auto;
}
.cmb-18 {
  margin-bottom: 18px;
}
.cmt-21 {
  margin-top: 21px;
}
.cml-10 {
  margin-left: 10px;
}
.cmt-30 {
  margin-top: 40px;
}
.cmt-40 {
  margin-top: 40px;
}
.cbg-grad {
  background: linear-gradient(100deg, #c351aa 0%, rgba(144, 30, 233, 0.69) 100%),
    linear-gradient(100deg, #c351aa 0%, rgba(144, 30, 233, 0.69) 100%);
}
.ctc {
  text-align: center;
  justify-content: center;
}
.cmin-w-full {
  min-width: 100%;
}
.cmin-h-screen {
  min-height: 100vh;
}
.cpx-24 {
  padding-left: 24px;
  padding-right: 24px;
}
.cpx-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.mt--30 {
  margin-top: -30px;
}
.cmb-30 {
  margin-bottom: 30px;
}
.cpy-29 {
  padding-top: 29px;
  padding-bottom: 29px;
}

.fs-28 {
  font-size: 28px;
}
.fs-25 {
  font-size: 25px;
}
.cw-90p {
  width: 90%;
  margin: auto;
}
.cflex {
  display: flex;
}
.citems-center {
  align-items: center;
}
.cjustify-center {
  justify-content: center;
}
.cfd-col {
  flex-direction: column;
}
.cmx-auto {
  margin-left: auto;
  margin-right: auto;
}
.ch-100 {
  height: 100px;
}
.cw-160 {
  width: 160px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Home */
.home-text {
  color: #080713;
  font-size: 20px;
  font-weight: 400;
}

.home-reload {
  margin-top: 30px;
  color: #333241;
  font-size: 14px;
  gap: 10px;
  align-items: center;
  cursor: pointer;
}
.cmax-400 {
  max-width: 400px;
}
.w-400 {
  width: 400px;
}
.search {
  right: 20px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.search-dd {
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 1000;
  background: #fff;
  width: 100%;
  min-height: 200px;
  display: flex;
  gap: 20px;
  border-bottom: 9px solid purple;
  padding-bottom: 10px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* card */
.wcard-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px;
  height: 174px;
  color: #fff;
  border-radius: 10px;
}
.wcard-container:hover {
  transition: all ease-in-out 500ms;
  transform: scale(1.03);
  /* transform: translateX(-100px); */
}
.load {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 16px;
  height: 174px;
  width: 338px;
  color: #fff;
  border-radius: 10px;
  background: #eee;
}
.wcard-lhs {
  position: relative;
  width: 50%;
  height: 100%;
}
.main-card {
  border-bottom: 1px solid #d5d5db;
  padding-bottom: 0px;
  margin-bottom: 20px;
}
.wcard-lhs-span {
  position: absolute;
  bottom: 0;
}

.wcard-rhs {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wcard-rhs-top {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 400;
}
.wcard-rhs-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
  font-weight: 400;
  z-index: 100;
}
.pointer {
  cursor: pointer;
}

/* Detail */
.detail-hero {
  height: 301px;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.detail-main-text {
  font-size: 24px;
  font-weight: 700;
}
.detail-sub-text {
  font-size: 16;
  font-weight: 500;
}

.detail-sum {
  width: 130px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 7px;
  text-align: left;
}
.detail-temp {
  width: 130px;
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.detail-head {
  color: #080713;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.dCard {
  background: #fafafa;
  width: 100%;
  height: 69px;
  padding: 16px;
  border-radius: 12px;
  align-items: center;
}
.card-org {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  margin-bottom: 15px;
}
.card-org-title {
  color: #201c1c;
  font-size: 14px;
  font-weight: 600;
  margin-left: 12px;
}
.card-org-sub {
  color: #494343;
  font-size: 13px;
  font-weight: 400;
  margin-left: 12px;
}

.c-button {
  background: #547ff0;
  height: 36px;
  width: 105px;
  border-radius: 12px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

textarea {
  margin-top: 40px;
  height: 78px;
  width: 100%;
  max-width: 500px;
  border: 1.347px solid #ff3b30;
  height: 78px;
  padding: 16.16px 18.853px 0px 18.853px;
  gap: 16.16px;
  border-radius: 10px;
  flex-shrink: 0;
}

.note-card {
  background: #fcf3a5;
  font-weight: 500;
  font-size: 14px;
  min-height: 70px;
  padding: 20px 32px 10px 32px;
  margin-bottom: 10px;
  position: relative;
  max-width: 500px;
}

.cr-8 {
  right: 8px;
}
.cl-8 {
  left: 8px;
}

@media screen and (min-width: 767px) {
  .tab {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 16px;
  }
  .top-card {
    max-width: 767px;
    background: #000;
  }
}
@media screen and (min-width: 1280px) {
  .tab {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
  }
}
